@import '~antd/dist/antd.css';
.App {
  text-align: center;
}
.singleCardRow {
  padding: 0px !important;
  display: block;
}

.nameInput {
  background-color: white !important;
}

.preview {
  height: 1000px;
}
